<div class="main-div">
  <div>
    <div class="text">
      <div class="p-15">
        <h2>Reset Password</h2>
      </div>
      <form
        [formGroup]="forgetPassword"
        class="example-form"
        autocomplete="off"
      >
        <div>
          <div>
            <mat-label>Old Password</mat-label>
            <mat-form-field style="width: 100%" appearance="outline">
              <input
                matInput
                
                formControlName="oldPassword"
                placeholder="OldPassword"
                [type]="hide ? 'Password' : 'text'"
                type="password"
                required
              /><mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error *ngIf="forgetPassword?.get('oldPassword')?.hasError('required')">Old password is required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-label>New Password</mat-label>
            <mat-form-field style="width: 100%" appearance="outline">
              <input
                matInput
                
                formControlName="newPassword"
                placeholder="NewPassword"
                [type]="hide ? 'Password' : 'text'"
                type="password"
                required
              /><mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error *ngIf="forgetPassword?.get('newPassword')?.hasError('required')">New password is required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-label>Confirm Password</mat-label>
            <mat-form-field style="width: 100%" appearance="outline">
              <input
                matInput
               
                formControlName="confirmPassword"
                placeholder="confirmPassword"
                [type]="hide ? 'Password' : 'text'"
                type="password"
                required
              /><mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error *ngIf="forgetPassword?.get('confirmPassword')?.hasError('required')">Confirm password is required</mat-error>
              <mat-error *ngIf="forgetPassword?.get('confirmPassword')?.touched && forgetPassword.hasError('passwordMismatch')">Passwords do not match</mat-error>
              

            </mat-form-field>
            

          </div>
          &nbsp;  &nbsp;
          <div class="example-button-row">
            &nbsp;  &nbsp;
            <button
              mat-raised-button
              class="login-button"
              style="background-color: rgb(64, 123, 255); color: white"
              (click)="back()"
            >
              Back
            </button>
            &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button
              mat-raised-button
              class="login-button"
              style="background-color: rgb(64, 123, 255); color: white"
              (click)="resetPassword()"
              [disabled]="forgetPassword.invalid"
            >
              Submit 
        </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
