
<!-- <ng-template #editViewPopup>
  <mat-card>
    <mat-card-header style="flex: 1 1 auto;">
      <div style="width: 100%">
        <h2 style="text-align: center;" class="page-title">{{ pageHeading }}</h2>
      </div>
      <div style="text-align-last: end" >
        <mat-icon mat-dialog-close>close</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content style="padding-top: 10px">
      <form [formGroup]="form">
        <formly-form [model]="selectedModel" [fields]="fields" [form]="form"></formly-form>
      
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div style="text-align-last: end; width: 100%">
        <button style="margin: 5px" mat-button mat-dialog-close>
          Cancel
        </button>
        <button style="margin: 5px" mat-button (click)="resetBtn('reset')" *ngIf="this.id" >
          Reset
        </button>
        <button
        style="margin: 5px; background: rgb(59, 146, 155)"
        (click)="saveForm(config,$event)"
        mat-raised-button
        color="warn"
       
      >
        save
      </button>
      

      </div>
    </mat-card-actions>
  </mat-card>
</ng-template> -->

<!-- !an do requriement here 1st task -->
<ng-template #editViewPopup class="example-sidenav" mode="over" style="height: auto" let-data >
  <!-- <div style="text-align-last: end">
    <mat-icon (click)='this.dialogService.closeModal()'>close</mat-icon>
  </div> -->
  <div class="page">
    <mat-card style="width: 98%; margin: auto">
      <div style="text-align-last: end" >
        <mat-icon (click)='this.dialogService.closeModal();this.form.reset()'>close</mat-icon>
      </div>
      <mat-card-header style="flex: 1 1 auto;">
        <div  style="width: 100%">
          <h2 style="text-align: center;" class="page-title">{{ pageHeading }} - {{ formAction }}</h2>
        </div>
      </mat-card-header>
    
      <mat-card-content style="padding-top: 10px">
        <div>
          <form [formGroup]="form">
            <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
          </form>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div style="text-align-last: end; width: 100%">
          <button style="margin: 5px" mat-button (click)='this.dialogService.closeModal();this.form.reset()' >Cancel</button>
          <button style="margin: 5px" mat-button (click)="this.form.reset()" >Reset</button>
          <button style="margin: 5px;  background:rgb(59,146,155)" mat-raised-button color="warn" (click)="saveChild()">
            {{ butText }}
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <div >
      <!-- <mat-icon color="warn">error</mat-icon>
      <span>Given ID is not valid</span> -->
    </div>
    
  </div>
</ng-template>

<div fxLayout="column"  style="width:100%">
  
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%" style="width:100%;">
    <div fxLayout="column" fxFlex="5%" class="back">
      <mat-icon style="font-size:35px;margin-top: 30px;" (click)="goBack()">keyboard_backspace</mat-icon>
    </div>
    <div fxLayout="column" fxFlex="95%" fxLayoutAlign="center center" style="margin-top: 10px;">
      <h2 class="page-title">Modules</h2>
      
    </div>
  </div>
  <!-- margin-left: 26px;
    width: 20%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    margin-top: 24px; -->
  <div fxLayout="row" class="form-container">
      <div [ngStyle]="{'width': '20%' }"  fxLayout="column">
        <div  style="margin-top: 10px;margin-left: 20px;">
          
           <div style="display: flex; margin-right: 30px;margin-bottom: 20px;">
      <span>Client Name : <span style="font-weight: bold;margin-left: 10px;">{{response?.client_name}}</span></span>
    </div>
        <div style="display: flex; margin-right: 30px;margin-bottom: 20px;">
          <span>Project Id : <span style="font-weight: bold;margin-left: 10px;">{{response?.project_id}}</span></span>
        </div>
        <div style="display: flex; margin-right: 30px;margin-bottom: 20px;">
          <span>Project Name : <span
            style="font-weight: bold;margin-left: 10px;">{{response?.project_name}}</span></span>
        </div>
       
        <div style="display: flex; margin-right: 30px;margin-bottom: 20px;">
          <span>Project Status : <span style="font-weight: bold;margin-left: 10px;">{{response?.status}}</span></span>
        </div>
          <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="15px" *ngIf="fields">
              <!-- <button mat-raised-button color="primary" type="submit" (click)="frmStart($event)" *ngIf="!isFormDataLoaded && config.form.buttons.start">Start</button> -->
            </div>
          
        </div>
      </div>
      <div class="table-container" style="width:80%">
        <div fxLayout="column">
          <div fxFlex="auto">
            <div fxLayout="row">
              <div fxFlex="1 0 auto">
                <!-- <app-dynamic-filter  [showdefaultFilter]="showdefaultFilter" (filterValue)=" ' ' "></app-dynamic-filter> -->
              </div>
              <!-- <div style="float:right;" fxLayout="column" fxFlex="10%">
                {{this.listData.length}} Record(s) found
              </div> -->
              <div>
              <div class="add-container">
                <button mat-raised-button color="primary"
                  (click)="onAddButonClick($event)">
                  <mat-icon>add</mat-icon>
                  Add</button>
                  <!-- <button class="icon" matTooltip="Add" mat-mini-fab (click)="onAddButonClick($event)"
        style="margin-right: 20px; background: #90c0e5;   color: #080201;">
        <mat-icon>add</mat-icon>
      </button> -->
                </div>
            </div>
          </div>
          
  <ag-grid-angular 
  style="width: 100%; height: calc(100vh - 250px); flex: 1 1 auto"
  class="ag-theme-alpine"
    [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [rowData]="listData" [treeData]="true"
    [getDataPath]="getTreePath" [rowSelection]="'single'" [pagination]="true"
    [groupDefaultExpanded]="groupDefaultExpanded" [cacheQuickFilter]="true" [paginationPageSize]="10"
    [autoGroupColumnDef]="autoGroupColumnDef" [animateRows]="true" [context]="context"
    [components]="components" (selectionChanged)="onSelectionChanged($event)"
    (cellValueChanged)="onCellValueChanged($event)"(gridReady)="onGridReady($event)" ></ag-grid-angular>

        </div>
      </div>
      </div>
      
      <!-- <div *ngIf="isDataError">
        <mat-icon color="warn" aria-label="Given ID is not valid">error</mat-icon>
        <span>Given ID is not valid</span>
      </div> -->
    </div>
  
</div>