<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <mat-card style="width: 35rem;">
      <mat-card-content>
        <h3 class="card-title" style="text-align:center;">MYPROFILE</h3>
        <br>
        <br>
        <br>
        
        <p class="card-text"  style="font-size: 1px"></p>
        <h4><span style="color:grey">First Name </span>{{ firstname }}</h4><br>
        <h4><span style="color:grey">Last Name </span> {{ lastname }}</h4><br>
        <h4><span style="color:grey">Email Id </span> {{ emailid }}</h4><br>
        <h4><span style="color:grey">Phone Number </span>{{ phonenumber }}</h4><br>
        <h4><span style="color:grey">Role </span>{{ role }}</h4><br>
        <h4><span style="color:grey">Active </span>{{ active }}</h4><br>
      </mat-card-content>
    </mat-card>
  </div> 
