





.container1{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction:column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}




mat-card{
  background: #ffff;
  color: #333;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  display: flex;
  margin: 2px;
  width: 83vw;
}
mat-card-header[_ngcontent-ng-c2173349976] {
  /* margin: 5px; */
  margin: 0px;
}
.mat-mdc-card-header {
  padding: 0px 0px 0 !important;
}

 .mat-header{
  width: 100%;
  height: 110px !important;
  background-color: rgb(90, 154, 211);
  object-fit: cover;
}

.profile-pic {
  z-index: 1;
  border-radius: 50%;
  width: 110px;
  height: 100px;
  position: absolute;
  margin-top: 5px;
  /* margin-right: auto; */
  border: 3px solid white;
  margin-left: 20px;
}

mat-card mat-card-content{
  margin-top: 60px;
}


.profile-details{
  display: flex;
  font-weight: 400;
  gap: 2px;
}

mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 25px;
  width: 25px;
  overflow: hidden;
}
.education-style{
  margin-top: 12px;
  margin-left: 20px;
  width: 80%;
}



.primary-address{
    display: flex;
    gap: 65px;
    width: 80%;
}

.seconday-address{
  gap:48px;
  display:flex;
  width: 80%;
  
}


mat-card mat-card-content{
  margin-left: 0px;
}

.education-details-parent{
  display: flex;
  flex-wrap: nowrap;
  margin-left: 17px
}

@media (max-width: 600px) {
  .education-details-parent{
    flex-direction: column;
  }
}

.education-details-child{
  flex: 20%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  margin-bottom: 10px;
}

.verification-buttons{
  gap: 20px;
  float: right;
  display: flex;
  margin-bottom: 21px;
}


/* .approved{
color: green;
}

.reject{
  color: red;
  } */

  .basic-details-parent{
display: flex;
justify-content: space-between;
  }
  .experience-details-parent{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 10px;
  }

  .experience-details-parent > div{
    width: 250px;
    margin: 10px;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
    background-color: #f1f1f1;
  }


  .exp-matcard{
    color: #333;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    display: flex;
    margin: 2px;
    width: 100%;
  }


  .background-verification{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 10px;
  }


  .background-verification > div{
    width: 250px;
    margin: 10px;
    text-align: left;
    font-size: 30px;
    background-color: #f1f1f1;
  }
/* mat-card-header{
  margin: 5px;
}
mat-card{
  width: 1200px;
  height: 84vh;
  margin-top: 5px;
  margin-left: 15px;
}

mat-card-header{
  background-color: rgb(209, 221, 221)
}


mat-list-item:hover{
cursor: pointer !important;
}

img {
  width: 150px;
  height: 150px;
  margin-top: 5px;
  border-radius: 50% !important;
  background-color: white;
}

.container{
  width: 1200px;
  height:70%;
  margin: 20px;
  margin-left: -15px;
  border-radius: 10px;
}


.basic_details_style{
  row-gap: 20px;
  flex-direction: column;
  display: flex;
  margin-left: 50px
}

.label_align{
  margin: 10px;
  display:flex;
  flex-direction:row
}


.container_align{
  margin: 38px 88px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 5px;
}


tr{
  text-align: center;
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: green!important;
}


.final_verify_align{
  margin-top: 40px;
  float: left !important;
  margin-left: 76%;
}


.profile{
  margin-top: 20px;
} */
