

<div class="container1">
  <mat-card>
    <mat-card-header  *ngIf="profile_image">
      <div class="mat-header">
      <img src={{profile_image.filepath}} alt="" class="profile-pic"/>
    </div>
    </mat-card-header>
    <mat-card-content *ngIf="engineer_data">
      <!-- Profile Details -->
      <div>
        <h4>{{engineer_data.contact.firstname}}   {{engineer_data.contact.lastname}}</h4>
        <div style="display: flex;gap: 20px;">
          <div><h6 class="profile-details"><mat-icon> email</mat-icon><span>{{engineer_data.contact.emailid}}</span></h6></div>
          <div><h6 class="profile-details"><mat-icon> phone</mat-icon><span>{{engineer_data.contact.mobilenumber}}</span></h6></div>
        </div>
        <h6 class="profile-details"><mat-icon> perm_contact_calendar</mat-icon><span>{{engineer_data.contact.dateofbirth | date : "dd/MM/yyyy"}}</span></h6>

        
        <h6  class="profile-details"><mat-icon>location_on</mat-icon><div class="primary-address"><span >Primary address</span><span>{{engineer_data.contact.primaryaddress.areaname}}
          {{engineer_data.contact.primaryaddress.city}}, {{engineer_data.contact.primaryaddress.state}}, {{engineer_data.contact.primaryaddress.country}}</span></div></h6>
        <h6 style="margin-left: 26px;" class="profile-details"><div class="seconday-address"><span>Secondary address</span><span>{{engineer_data.contact.primaryaddress.areaname}}
            {{engineer_data.contact.primaryaddress.city}}, {{engineer_data.contact.primaryaddress.state}}, {{engineer_data.contact.primaryaddress.country}}</span></div></h6>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card >
     <!-- Education -->
     <div class="education-style">
      <h4>Education</h4>
      <div class="education-details-parent">
         <div class="education-details-child"  *ngFor="let item of engineer_data?.educationdetails">
           <h6>{{item.graduationname}},{{item.branch}}</h6>
           <h6>{{item.institutionname}}</h6>
           <h6>{{item.completedyear}}</h6>
           <h6 *ngIf="item.filepath"><a href={{item.filepath}}  target="_blank">View Certificate</a></h6>
         </div>
         <!-- Verification Buttons -->
        <!-- <div class="verification-buttons">
          <div *ngIf="show_education_approve_button==true" (click)="education_details_approve()"><mat-icon class="approved">check_circle</mat-icon></div>
          <div *ngIf="show_education_reject_button==true" (click)="education_details_reject()"><mat-icon  class="reject">dangerous</mat-icon></div>
         </div> -->
      </div>
      </div>
  </mat-card>

  <mat-card class="exp-matcard">
     <!-- Experience -->
     <div style="margin-top: 12px; margin-left: 20px;">
      <h4>Experience</h4>
      <div class="experience-details-parent">
        <div *ngFor="let item of engineer_data?.experience">
          <h6>{{item.jobduration}} of Experience / {{item.jobscompleted}} of Jobs Completed </h6>
          <h6>{{item.jobtype}} / {{item.worktype}}</h6>
          <h6>{{item.jobstartdate}} to {{item.jobenddate}}</h6>
          <h6>{{item.serviceprovider}}</h6>
        </div>
     </div>
      </div>
  </mat-card>


  <mat-card>
    <div style="margin-top: 12px; margin-left: 20px;">
      <h4>Equipments</h4>
      <h6></h6>
    </div>
 
  </mat-card>

  <mat-card >
    <div style="margin-top: 12px; margin-left: 20px;">
      <h4>Background Verification</h4>
      <div class="background-verification">
      <div *ngFor="let item of  engineer_data.license">
        <h6>{{item.licensenumber}}</h6>
        <a style="font-size: medium;" href="{{item.filepath}}"  target="_blank"> View Licence
        </a>
      </div>
      </div>
    </div>
  </mat-card>

</div>












