<mat-accordion *ngFor="let values of expanisionpanel">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-checkbox (click)="onParentCheckboxChange(values,$event)"></mat-checkbox>   {{values}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let checkBoxData of childData[values]">
          <mat-checkbox [(ngModel)]="checkBoxData.checked">{{checkBoxData.label}}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
 