<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <mat-checkbox>Checkbox 1</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Checkbox 2</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Checkbox 3</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <mat-checkbox>Checkbox 1</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Checkbox 2</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Checkbox 3</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <mat-checkbox>Checkbox 1</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Checkbox 2</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox>Checkbox 3</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
  