<!-- <div style="width: 98%;margin: 10px;height: calc(100vh - 250px);margin-bottom: 10px; overflow-y: scroll;"> -->
    <ag-grid-angular
    #agGrid style="width: 98%; height: 90%; flex: 1 1 auto;margin: 10px;"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [masterDetail]="true"
      [rowSelection]="'single'"
      [context]="context"
      [detailCellRendererParams]="detailCellRendererParams"
      [rowData]="rowData"
      [components]="components"
      (selectionChanged)="onSelectionChanged($event)"
      (gridReady)="onGridReady($event)"  (cellClicked)='onCellClicked($event)'
        (cellValueChanged)="onCellValueChanged($event)"
    ></ag-grid-angular>
        <!-- </div> -->
      